import /init.samsungcodina.usb.rc

on early-init
    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1
    mkdir /storage 0775 system system
    mkdir /storage/sdcard0 0775 system system
    mkdir /storage/sdcard1 0775 system system
    mkdir /storage/usbdisk 0775 system system

    mkdir /efs 0771 radio system
    mkdir /preload 0771 system system
    mkdir /modemfs 0771 system system
    mkdir /mnt 0755 root system
    mkdir /mnt/.lfs 0755 root root

    # for backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard1 /extSdCard
    symlink /storage/sdcard1 /mnt/extSdCard
    symlink /storage/usbdisk /usbdisk0
    symlink /storage/usbdisk /mnt/usbdisk0

on init

    # setup the global environment
    export PATH /system/sbin:/system/bin:/system/xbin:/sbin:/bin:/vendor/bin
    export LD_LIBRARY_PATH /system/lib:/lib:/usr/lib:/system/lib/ste_omxcomponents/:/vendor/lib
    export OMX_STE_ENS_COMPONENTS_DIR /system/lib/ste_omxcomponents/
    export OMX_BELLAGIO_LOADER_REGISTRY /system/etc/omxloaders

    # Vibetonz
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 shell shell

    # Shared memory file system
    mkdir /dev/shm 0700 root system
    mount tmpfs tmpfs /dev/shm mode=0755,gid=1000

    # create /tmp directory needed by psccd and CSPSA
    # ...but make it a symlink so that sysmon may use it also
    symlink /dev/socket /tmp

    # mount debugfs in order for Audio ADM component to retrieve debug information
    mkdir /debug
    mount debugfs none /debug


on fs

    mount_all /fstab.samsungcodina
    setprop ro.crypto.fuse_sdcard false
	
    # Start CSPSA before synchronously running the factory reset utility that
    # checks the factory reset triggers in sysfs and CSPSA and then formats
    # the block device belonging to /data.
    start cspsa
    #exec /system/bin/logwrapper /system/bin/factoryreset -f /sys/socinfo/reset_reason -r factory-reset -c CSPSA0 -p 0xfffffffc:31 /dev/block/mmcblk0p5

on post-fs

    chown radio radio /modemfs
    chmod 0771 /modemfs
    chown radio radio /modemfs/CONF
    chmod 0755 /modemfs/CONF
    chown radio radio /modemfs/CONF/MCE
    chmod 0755 /modemfs/CONF/MCE
    chown radio radio /modemfs/CONF/MCE/MCE.CFG
    chmod 0644 /modemfs/CONF/MCE/MCE.CFG
    chown radio radio /modemfs/PERM
    chmod 0755 /modemfs/PERM
    chown radio radio /modemfs/PERM/PROT
    chmod 0755 /modemfs/PERM/PROT
    chown radio radio /modemfs/PERM/PROT/LABEP.CFG
    chmod 0644 /modemfs/PERM/PROT/LABEP.CFG
    chown radio radio /modemfs/PERM/PROT/PPVALUES.DAT
    chmod 0644 /modemfs/PERM/PROT/PPVALUES.DAT

    chown radio system /efs
    chmod 0775 /efs
    chown radio system /efs/FactoryApp
    chmod 0775 /efs/FactoryApp
    chown radio system /efs/imei
    chmod 0770 /efs/imei
    chown radio system /efs/bluetooth
    chown system system /efs/wifi

    # Samsung Device permissions
    chown root system /dev/mmc328x
    chown root system /dev/bma222
    chown root system /dev/ecompass_ctrl
    chmod 0666 /dev/mmc328x
    chmod 0666 /dev/bma222
    chmod 0666 /dev/ecompass_ctrl

    # change the permission sensor chips
    chown root system /dev/alps_io
    chmod 0660 /dev/alps_io
    chown root root /dev/rn5t592
    chmod 777 /dev/rn5t592

    # Change permission for touchscreen and touch key
    chown system radio /sys/class/sec/tsp/cmd
    chown system radio /sys/class/sec/tsp/cmd_status
    chown system radio /sys/class/sec/tsp/cmd_result
    chown system radio /sys/class/sec/sec_touchkey/touchkey_back
    chown system radio /sys/class/sec/sec_touchkey/touchkey_menu
    chown radio system /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchscreen/tsp_firm_version_panel
    chown system radio /sys/class/sec/sec_touchscreen/tsp_firm_version_phone
    chown system radio /sys/class/sec/tsp_noise_test/disp_all_refdata
    chown system radio /sys/class/sec/tsp_noise_test/disp_all_deltadata
    chown system system /sys/class/sec/sec_touchscreen/tsp_threshold

    # DVFS LOCK
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/cpufreq_table
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_min_limit
    chown radio system /debug/prcmu/ape_opp
    chown radio system /debug/prcmu/ddr_opp
    chmod 0660 /debug/prcmu/ape_opp
    chmod 0660 /debug/prcmu/ddr_opp

    # Samsung: ensure read/write access to sensor control device files
    chmod 0666 /dev/gp2a_prox
    chmod 0666 /dev/gp2a_light
    chmod 0666 /dev/mpu60x0_gyro
    chmod 0666 /dev/mpu60x0_accel
    chmod 0666 /dev/mmc3280

    # change the permission sensor chips
    chown root system /dev/alps_io
    chmod 0660 /dev/alps_io
    chown system system /system/etc/sensors.dat
    chown system system /system/etc/calib.dat
    chown system system /system/etc/param.dat
    chmod 0664 /system/etc/sensors.dat
    chmod 0664 /system/etc/calib.dat
    chmod 0664 /system/etc/param.dat

    # Change permission for magnetic sensor rev02
    chown system input /sys/class/input/input8/delay
    chown system input /sys/class/input/input8/enable
    chown system input /sys/class/input/input8/filter_enable
    chown system input /sys/class/input/input8/filter_len
    chown system input /sys/class/input/input8/filter_threshold
    chown system input /sys/class/input/input8/filter_noise
    chown system input /sys/class/input/input8/data
    chown system input /sys/class/input/input8/status
    chown system input /sys/class/input/input8/wake
    chown system input /sys/class/input/input8/position

    chown system input /sys/class/input/input9/threshold
    chown system input /sys/class/input/input9/distortion
    chown system input /sys/class/input/input9/shape
    chown compass input /sys/class/input/input9/offsets

    # orientation
    chown system input /sys/class/input/input6/enable
    chown system input /sys/class/input/input6/delay
    chown system input /sys/class/input/input6/wake
    chown system input /sys/class/input/input6/data
    chown system input /sys/class/input/input6/status

    write /sys/class/input9/filter_enable 0

    # Change permission for accelerometer
    chown system input /sys/class/sensors/accelerometer_sensor/raw_data
    chown system system /sys/class/sensors/accelerometer_sensor/calibration

    chown system system /sys/class/sensors/magnetic_sensor/selftest
    chown system system /sys/class/sensors/magnetic_sensor/status
    chown system system /sys/class/sensors/magnetic_sensor/dac
    chown system system /sys/class/sensors/magnetic_sensor/adc

    chown system system /sys/class/sensors/proximity_sensor/state
    chown system system /sys/class/sensors/proximity_sensor/proximity_avg

    # Change permission for gyro_sensor
    chown system system /sys/class/sensors/gyro_sensor/temperature

    symlink /dev/block/mmcblk0p1 /dev/block/param

    # Install Kernel Module
    insmod /system/lib/modules/j4fs.ko
    mount j4fs /dev/block/mmcblk0p1 /mnt/.lfs wait

    insmod /system/lib/modules/param.ko
    write /sys/class/power_supply/battery/batt_reinit_capacity 1
    insmod /system/lib/modules/bthid.ko

    # loading exFAT-fs drivers
    insmod /system/lib/modules/exfat_core.ko
    insmod /system/lib/modules/exfat_fs.ko

on post-fs-data

    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/wifi 0770 wifi system
    mkdir /efs/wifi 0775 radio system
    mkdir /efs/bluetooth 0775 radio system
    mkdir /efs/imei 0775 radio system
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0775 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    chown system system /efs/wifi/.mac.info
    chmod 0664 /efs/wifi/.mac.info

    # FactoryTest files permission
    mkdir /efs/FactoryApp 0775
    chown radio system /efs/FactoryApp
    chmod 0775 /efs/FactoryApp
    write /efs/FactoryApp/factorymode ON
    chown system system /efs/FactoryApp/factorymode
    chmod 0744 /efs/FactoryApp/factorymode

    # SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    chmod 0775 /data/log
    chmod 0775 /data/anr

#[ SEC_MM_DRM
    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added for Playready DRM Support
    mkdir /data/data/.drm 0775
    chown drm system /data/data/.drm
    chmod 0775 /data/data/.drm
    mkdir /data/data/.drm/.playready 0775
    chown drm system /data/data/.drm/.playready
    chmod 0775 /data/data/.drm/.playready

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm

    # DivX DRM
    mkdir /efs/.files 0775
    mkdir /efs/.files/.dx1 0775
    mkdir /efs/.files/.dm33 0775
    mkdir /efs/.files/.mp301 0775
    chown media system /efs/.files/.dx1
    chown media system /efs/.files/.dm33
    chown media system /efs/.files/.mp301
    chmod 0775 /efs/.files/.dx1
    chmod 0775 /efs/.files/.dm33
    chmod 0775 /efs/.files/.mp301
#]

    # create basic filesystem structure
    mkdir /data/misc/psdata
    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
    mkdir /data/misc/bluetooth 0770 system system

    # give system access to ril_config
    copy -u /system/etc/ril_config /data/misc/ril_config
    chmod 0660 /data/misc/ril_config
    chown root radio /data/misc/ril_config

    # Create directory for STE OMX debug logs
    mkdir /data/ste-debug 0775 system system

    # give system access to sterc_script when enabling usb nap
    copy -u /system/etc/psdata/sterc_conf /data/misc/psdata/sterc_conf
    copy -u /system/etc/psdata/sterc_script_connect /data/misc/psdata/sterc_script_connect
    copy -u /system/etc/psdata/sterc_script_disconnect /data/misc/psdata/sterc_script_disconnect
    copy -u /system/etc/psdata/sterc_conf_alt /data/misc/psdata/sterc_conf_alt
    copy -u /system/etc/psdata/sterc_script_connect_alt /data/misc/psdata/sterc_script_connect_alt
    copy -u /system/etc/psdata/sterc_script_connect_dun /data/misc/psdata/sterc_script_connect_dun
    copy -u /system/etc/psdata/sterc_script_disconnect_dun /data/misc/psdata/sterc_script_disconnect_dun
    chmod 0660 /data/misc/psdata/sterc_conf
    chmod 0500 /data/misc/psdata/sterc_script_connect
    chmod 0500 /data/misc/psdata/sterc_script_disconnect
    chmod 0660 /data/misc/psdata/sterc_conf_alt
    chmod 0500 /data/misc/psdata/sterc_script_connect_alt
    chmod 0500 /data/misc/psdata/sterc_script_connect_dun
    chmod 0500 /data/misc/psdata/sterc_script_disconnect_dun
    chown root radio /data/misc/psdata/sterc_conf
    chown root radio /data/misc/psdata/sterc_conf_alt

    # give system access to stepscc_conf
    copy -u /system/etc/psdata/stepscc_conf /data/misc/psdata/stepscc_conf
    chmod 0660 /data/misc/psdata/stepscc_conf
    chown root radio /data/misc/psdata/stepscc_conf

    # create var/run, var/lib for avahi
    mkdir /var
    mkdir /var/run
    mkdir /var/lib

    # Change permissions for modem_log_relay config file
    chmod 666 /modemfs/trace_auto.conf

    # If there is no fs-post-data action in the init.<device>.rc file, you
    # must uncomment this line, otherwise encrypted filesystems
    # won't work.
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on early-boot

    # Launch core services in case charging mode is entered
    start watchdog-kicker

    # Prepare modem
    class_start modem-u8500
    class_start modem-core

    # Enable autonomous power management in CM
    write /sys/module/cm/parameters/enable_auto_pm 1

on boot

    # debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # Set timeout value for rmnet stats.
    write /sys/devices/virtual/net/rmnet0/timeout_suspend 5000000

    chown system system /sys/class/backlight/pri_lcd_bl/brightness
    chown system system /sys/class/backlight/pwm-backlight/brightness
    chown system radio /sys/class/backlight/pwm-backlight/device/lcd_power
    chown system system /sys/class/backlight/pwm-backlight/device/panel_id
    chown system system /sys/class/backlight/pwm-backlight/device/acl_set
    chown system system /sys/class/lcd/panel/device/gamma_mode
    chown system system /sys/class/lcd/panel/device/gamma_table
    chown system system /sys/class/leds/button-backlight/brightness
    chown radio radio /sys/class/usb_switch/FSA_SWITCH/jig_smd
    chown radio system /sys/class/usb_switch/FSA_SWITCH/smd_wakelock
    chown system radio /sys/class/sec/switch/usb_state

    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-005c/enable
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-0029/power_state
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-0068/range
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-0068/datarate
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-0068/powermode
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-001e/mode
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-001e/range
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-001e/rate
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-0018/range
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-0018/mode
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-0018/rate
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-0018/sleep_wake
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-0019/mode
    chown system system /sys/devices/platform/nmk-i2c.2/i2c-2/2-0019/range
    chown system system /sys/devices/platform/sim-detect.0/voltage
    chown audio audio /sys/devices/system/cpu/usecase/voice-call
    chown audio audio /sys/devices/system/cpu/usecase/low-power-audio
    chown system radio /proc/dump_enable

    # Permission for gpio_keys
    chown radio system /sys/devices/platform/gpio-keys.0/wakeup_keys
    write /sys/devices/platform/gpio-keys.0/wakeup_keys 172

# Vibetonz
    chmod 0660 /dev/tspdrv
    chown root shell /dev/tspdrv

# GPS
    chown root system /dev/ttyAMA1
    chmod 0660 dev/ttyAMA1

    chown root system sys/class/sec/gps/GPS_ON_OFF/value
    chmod 0664 sys/class/sec/gps/GPS_ON_OFF/value

    chown root system sys/class/sec/gps/GPS_nRST/value
    chmod 0664 sys/class/sec/gps/GPS_nRST/value

# permissions for FMRadio of Broadcom
    chmod 0777 /system/bin/btld

# Peremissions for bluetooth
    # UART device
    chown bluetooth bluetooth /dev/ttyAMA0
    chmod 0660 /dev/ttyAMA0

# for bluetooth. change access rights as btld runs as bluetooth user
    chown root bluetooth /sys/class/rfkill/rfkill0
    chown root bluetooth /sys/class/rfkill/rfkill0/state
    chown root bluetooth /sys/class/rfkill/rfkill0/claim	
    chown root bluetooth /sys/class/rfkill/rfkill0/soft
    chown root bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0664 /sys/class/rfkill/rfkill0/state
    chmod 0664 /sys/class/rfkill/rfkill0/claim
    chmod 0664 /sys/class/rfkill/rfkill0/soft
    chmod 0664 /sys/class/rfkill/rfkill0/type
    setprop service.brcm.bt.pbap_mode btld

# power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sts/class/rfkill/rfkill0/type

# bluetooth MAC address programming
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /system/etc/bt_addr
    chmod 0644 /efs/bluetooth/addr.txt

    chown bluetooth /dev/ttyAMA0
    chmod 0660 /dev/ttyAMA0

    # Permissions for LCD
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness
    chown system radio /sys/class/lcd/panel/lcd_power
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system media_rw /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/sec/sec_touchkey/brightness

    # MTP device permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system system /dev/usb_mtp_gadget

    # camera factory
    chown system system /sys/class/sec/sec_cam/camtype
    chown system system /sys/class/sec/flash/enable    
    chown system system /sys/class/camera/rear/rear_flash
    chown system system /sys/class/camera/front/front_camtype
    chown system system /sys/class/camera/rear/rear_camtype
    chown system system /sys/class/camera/flash/rear_flash

    # temp Torch workaround
    chmod 0222 /sys/class/sec/flash/enable
    
    # fbearlysuspend module parameters permissions
    chown system system /sys/module/fbearlysuspend/parameters/fbdelay
    chown system system /sys/module/fbearlysuspend/parameters/fbdelay_ms
    chown system system /sys/module/fbearlysuspend/parameters/fbdelay_first
    chown system system /sys/module/fbearlysuspend/parameters/fbdelay_first_ms
    
    # deepest sleep state fix for device parts
    chown system system /d/cpuidle/deepest_state

    # camera debug
    setprop persist.debug.extcamera.level 777
    setprop persist.debug.mmiocamera.level 777
    setprop debug.libcamera.trace 666

    # Battery
    chown system system /sys/class/power_supply/battery/batt_vol_adc_cal
    chown system radio /sys/class/power_supply/battery/fg_reset_soc

    #Set property to change the decoder profile level to 4.1
    setprop ste.video.decoder.h264.def.lev 4.1   

    # Modem
    class_start modem
    class_start default

# Make sure we startup btld before hcid
service btld /system/bin/btld -hb 3000000 -hp /dev/ttyAMA0 -lpm 1
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

# for bluetooth
service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm --no2bytes --tosleep 5000 \
    --baudrate 3000000 -use_baudrate_for_download --patchram /system/bin/bcm4330.hcd /dev/ttyAMA0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# for bluetooth rf test
service bt_dut_cmd /system/bin/bcm_dut
    group bluetooth net_bt_admin
    disabled
    oneshot

# Crash Safe Parameter Storage Area, serving production parameter requests from clients.
# Configuration is read from file "/etc/cspsa.conf" and each found area spawns a CSPSA server
# process.
service cspsa /system/bin/cspsa-server
    class parameter_storage
    user root
    oneshot

# init Phonet net device required for Phonet communication with Modem
service phonet-netdev /system/bin/ifconfig upnlink0 up
    class main
    oneshot

# Copy RF trim data from CSPSA, and start the Modem Storage Agent (MSA) service
service modem /system/bin/sh /system/etc/ste_modem.sh
    class modem-u8500
    user root

# Modem-supervisor
service modem-supervisor /system/bin/modem-supervisor -f /dev/dbx500_mloader_fw -i /sys/devices/platform/ab8500-i2c.0/chip_id -c monitor
    class modem-u8500
    user root

# Creating Modem Security daemon
service copsd /system/bin/copsdaemon
    class modem-core
    user root

# Modem_log_relay
service modem_log_relay /system/bin/modem_log_relay --ctrl_port=2001 --data_port=2002 --inv_port=2003 --report_port=2005
    class modem
    user root

service admsrv /system/bin/admsrv
    class main
    user root
    group system audio inet net_bt net_bt_admin net_raw shell log
    ioprio rt 4
    capability NET_ADMIN NET_RAW SYS_NICE

service stedump /system/bin/stedump
    class main
    user root

service geomagneticd /system/bin/geomagneticd6x
    user compass
    group system input

service orientationd /system/bin/orientationd6x
    user compass
    group system input group system input

# AT daemon
service atd /system/bin/at_core -mode normal -serial ttyAMA2
    class modem
    user root
    group radio audio

# TA Loader
service ta_load /system/bin/ta_loader
    user root
    group radio

# AT Distributor for factory test
service at_distributor /system/bin/at_distributor
    user root
    group radio log

service watchdog-kicker /system/xbin/watchdog-kicker -d /dev/watchdog -t 120
    class main
    oneshot

service battery_params /system/xbin/battery_params
    class main
    oneshot

service usbid_init /system/bin/usbid_init.sh
    class main
    oneshot

service mobex-daemon /system/bin/npsmobex
    class main
    user system
    group system radio inet sdcard_rw

# SA, System SW, SAMSUNG
service bugreport /system/bin/bugmailer.sh -v
    class main
    disabled
    oneshot
    keycodes 114 115 116

# Vibetonz
service immvibed /system/bin/immvibed
    class core
    user shell
    group shell
    oneshot

on property:ro.dumpstate.dmesg=1
    write /proc/sys/kernel/dmesg_restrict 0

service p2p_supplicant /system/bin/wpa_supplicant \
        -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -N \
        -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin \
        -puse_p2p_group_interface=1
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
        -Dnl80211 -iwlan0 -e/data/misc/wifi/entropy.bin \
        -c/data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

#for WiFi MFG(TestMode)
service mfgloader /system/bin/mfgloader
    class main
    disabled
    oneshot

service wlandutservice /system/bin/wlandutservice
    class main
    user system
    group wifi net_raw net_admin system inet
    disabled
    oneshot

service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system net_raw
    ioprio be 0 

# end of wifi
